@page "/averager"

@inject IStringLocalizer<App> _localiser
@inject IBinanceService _binanceService 
@inject IHuobiService _huobiService

<h3>Averager</h3>

<div class="row">
    <div class="col-12">
        <button type="button" @onclick="@CalculateAverages">Calculate</button>
    </div>
</div>

@code {

    protected void CalculateAverages()
    {
        _binanceService.CalculateCoinAverages("test");
    }
}
